body {
  margin: 0;
}
select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  font-style: italic;
  border-radius: 14px;
  border-width: 3px;
  border-color: #34346815;
  min-width: 100px;
  max-width: 140px;
}
select:focus {
  outline: none;
}
i {
  padding: 0px 8px;
  color: darkolivegreen;
  font-size: 1.3em;
}
li {
  padding: 2px 20px;
}
span {
  padding: 0px 10px;
  color: white;
  font-weight: bolder;
  font-size: large;
}
p {
  margin: 0px;
  padding: 4px 20px;
}
#header {
  position: sticky;
  background-color: #34346850;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #343468;
  border-bottom: 1px solid darkgray;
  padding: 10px;
  margin-bottom: 10px;
}
#foot {
  display: none;
  background-color: rgba(85, 107, 47, 0.349);
  color: #343468;
  font-style: italic;
  border-top: 1px solid darkgray;
  padding: 10px;
}
#data {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
.line {
  padding: 4px 10px;
}
.far {
  color: #34346830;
}
.far:hover {
  color: #34346895;
}
.fa-calendar-alt {
  color: darkolivegreen;
  font-size: 1.5em;
}
.fa-calendar-alt:hover {
  color: brown;
}
.fa-redo {
  position: fixed;
  font-size: 1.5em;
  bottom: 15px;
  right: 15px;
  color: burlywood;
  filter: drop-shadow(3px 3px 3px);
}
.fa-redo:hover {
  color: brown;
}

.bubble {
  position: absolute;
  top: 40px;
  left: 5px;
  width: 95px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #7F7F7F solid 2px;
}
.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 8px 10px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 12px;
}
.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 9px 11px;
  border-color: #7F7F7F transparent;
  display: block;
  width: 0;
  z-index: 0;
  top: -13px;
  left: 11px;
}

.unit {
  max-width: 250px;
  min-width: 230px;
  margin: 5px 5px 10px 10px;
  flex-grow: 1;
}
.lid {
  padding: 5px 15px;
  border: 3px solid rgb(52, 52, 104);
  background-color: rgb(52, 52, 104);
  color: whitesmoke;
  font-style: italic;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.belly {
  border: 2px solid rgb(52, 52, 104);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.belt {
  padding: 2px 8px;
  color: darkolivegreen;
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
  background-color: beige;
}
.bottom {
  padding: 5px 15px;
  font-style: italic;
  background-color: beige;
  border-top: 1px solid silver;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.has {
  display: none;
}
.has.active {
  display: block;
  padding: 5px;
}
.narrow {
  padding: 0px;
}
.item:nth-child(2n-1) {
  background-color: beige;
}
